// Fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap')
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')

// Variables
@import 'variables'
@import 'ltw-core'

.big-text
    font-size: 120%
    text-transform: uppercase
    color: $color-primary

.header-bg
    height: 70vh