<template>
    <section>
        <div class="container">
            <div class="newsList row">
                <div v-for="post in posts" class="newsList__item col-lg-4">
                    <a :href="post.url" :title="post.title" target="_blank">
                        <div class="inner-item">
                            <div class="thumb-wrapper">
                                <div class="thumb img-frame">
                                    <img :src="post.urlToImage" alt="">
                                </div>
                            </div>
                            <div class="content">
                                <div class="text-wrapper">
                                    <div class="name">{{ post.source.name }}</div>
                                    <h3 class="title">{{ post.title }}</h3>
                                    <div class="text"><p>{{ post.description }}</p></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                posts: []
            }
        },
        created: function () {
            this.loadNews();
        },
        methods: {
            loadNews: function () {
                this.status = 'Loading news...';
                var vm = this;
                axios.get('https://newsapi.org/v2/everything?q=apple&from=2019-06-11&to=2019-06-11&sortBy=popularity&apiKey=ed1a04ba59b840e58ccc409d5f05b3e1')
                .then(function(response) {
                    vm.posts = response.data.articles
                    console.log(response)
                })
                .catch(function(error){
                    console.log(error)
                });
            }
        }
    }
</script>

<style lang="sass">
.newsList
    .newsList__item
        margin: 0 0 4rem 0
        background-color: inherit
        position: relative
        -webkit-box-shadow: 0px 35px 32px -35px rgba(0,0,0,0.75)
        -moz-box-shadow: 0px 35px 32px -35px rgba(0,0,0,0.75)
        box-shadow: 0px 35px 32px -35px rgba(0,0,0,0.75)

        .inner-item
            display: flex
            align-items: stretch
            height: 100%
            position: relative
            flex-flow: column

        .thumb-wrapper
            width: 100%
            height: 550px
            margin: 0
            padding: 0
            background-color: inherit
            position: relative

            &:before
                content: ''
                position: absolute
                width: 100%
                height: 100%
                top: 0
                left: 0
                background: rgba(0,0,0,0.5)
                z-index: 1
                transition: all 0.3s ease-in-out

            .thumb
                height: 100%

                img
                    transition: all 0.3s ease-in-out
                

        .content
            width: 100%
            height: 100%
            margin: 0
            padding: 2.5rem
            position: absolute
            top: 0
            left: 0
            display: flex
            flex-wrap: wrap
            height: 100%
            z-index: 1

            .text-wrapper
                width: 100%

                .name
                    color: #FFF
                    margin: 0 0 0.3rem 0

                .title
                    margin: 0 0 1.5rem 0
                    text-align: left
                    font-size: 1.8rem
                    font-family: 'roboto-bold'
                    text-decoration: none
                    color: #FFF

                .text
                    font-size: 0.9rem
                    font-family: 'roboto-regular'
                    text-align: left
                    color: #FFF
                    margin: 0

            .button-wrapper
                width: 100%
                align-self: flex-end
                text-align: left

        &:hover
            .thumb-wrapper
                &:before
                    content: ''
                    position: absolute
                    width: 100%
                    height: 100%
                    top: 0
                    left: 0
                    background: rgba(0,0,0,0.8)

                .thumb img
                    transform: scale(1.1)

        @media (min-width: 992px)
            &:first-child
                width: 100%
                flex: 0 0 100%
                max-width: 100%

                .thumb-wrapper
                    height: 300px

                .content .text-wrapper .text
                    font-size: 1.3rem

</style>